.openerp .oe_qsnich_his_menu {
	padding: 5px;
	background: purple;
	color: white;
}

.openerp .oe_qsnich_his_header_1 h1 {
	padding: 5px;
	font-size: 20px;
}

.openerp .oe_qsnich_his_paragraph p {
	padding: 5px;
	font-size: 20px;
	background: purple;
	color: white;
}

.openerp .oe_qsnich_his_patient_new_link {
	font-size: 15px;
	background: purple;
	color: white;
}

.openerp .oe_qsnich_his_patient_query_link {
	font-size: 15px;
	background: purple;
	color: white;
}

.openerp .oe_qsnich_his_patient_results {
	padding: 10px;
	text-indent: 5px;
	background: white;
	color: purple;
	font-size: 30px;
}
.openerp .oe_application{
	width:calc(100% - 221px);
}

@media screen and (max-width: 800px){
	.openerp .oe_leftbar{
		width: 100%;
	}
	.openerp .oe_application{
		width: 100%;
	}
	.openerp .oe_logo{
		display: none;
	}

}

